<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" #miFormulario="ngForm">
    <!-- Nombre -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">
            Nombre
        </label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre" [ngModel]="persona.nombre" name="nombre" type="text"
                required>
        </div>
        <span class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.errors"></span>


    </div>
    <!-- Agregar favorito -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">
            Agregar
        </label>
        <div class="col-sm-9">

            <div class="input-group">

                <input class="form-control" placeholder="Agregar juego favorito">

                <button class="btn btn-outline-primary" type="button">

                    Agregar

                </button>

            </div>

        </div>



    </div>

    <!-- Lista juegos favoritos -->
    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">

            Favoritos

        </label>

        <div class="col-sm-9">

            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">

                <input class="form-control" name="favorito_{{ i }}"  [(ngModel)]="juego.nombre" required>

                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)"> Eliminar </button>
            </div>


        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <button type="button" [disabled]="miFormulario.invalid" class="btn btn-primary float-end"
                (click)="guardar()">Guardar</button>
        </div>


    </div>

</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>